<html>

<head>
    <title>First step toward Flask</title>
</head>
<body>
    <h1>Enter the Mark</h1>
    <form action='/submit' method='post'>
        <label>DataScience</label><br><br>
        <input type="text" id="ds" name="ds" value='0'><br><br>
        <label>Machine Learning</label><br><br>
        <input type="text" id="ml" name="ml" value='0'><br><br>
        <label>Deeplearning</label><br><br>
        <input type="text" id="dl" name="dl" value='0'><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>